@model ShowApplication.Models.ViewModels.DetailsShow
@{
    ViewBag.Title = "View";
}



<a href="/Show/List">Go back to list</a>
<br />
<a href="/Show/Edit/@Model.SelectedShow.showID">Update</a>
<br />
<h2>@Model.showID</h2>
<div>ShowID: @Model.showID </div>
<div>ArtistID: @Model.artistID</div>
<div>VenueID: @Model.venueID</div>
<div>Show Date and Time: @Model.DateAndTime</div>





